<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.neudesic.neuchat" android:versionCode="1" android:versionName="0.1">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="19" />
	<application android:label="NeuChat" android:icon="@drawable/neuchat_icon"></application>
</manifest>